---
swagger: '2.0'
info:
  description: Api Documentation
  version: '1.0'
  title: Api Documentation
  termsOfService: urn:tos
  contact: {}
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0
host: "greeting-api.endpoints.lacapitalepilotage.cloud.goog"
x-google-endpoints:
- name: "greeting-api.endpoints.lacapitalepilotage.cloud.goog"
  allowCors: "true"    
basePath: "/"
tags:
- name: greeting-controller
  description: Greeting Controller
schemes:
- "https"
paths:
  "/greeting":
    get:
      tags:
      - greeting-controller
      summary: greeting
      operationId: greetingUsingGET
      consumes:
      - application/json
      produces:
      - "*/*"
      parameters:
      - name: name
        in: query
        description: name
        required: false
        type: string
        default: World
      responses:
        '200':
          description: OK
          schema:
            "$ref": "#/definitions/Greeting"
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
  "/auth/info/googlejwt":
    get:
      description: "Returns the requests' authentication information."
      operationId: "auth_info_google_jwt"
      produces:
      - "application/json"
      responses:
        200:
          description: "Authentication info."
          schema:
            $ref: "#/definitions/authInfoResponse"
      x-security:
      - google_jwt:
          audiences:
          # This must match the "aud" field in the JWT. You can add multiple
          # audiences to accept JWTs from multiple clients.
          - "greeting.endpoints.sample.google.com"
  "/auth/info/googleidtoken":
    get:
      description: "Returns the requests' authentication information."
      operationId: "authInfoGoogleIdToken"
      produces:
      - "application/json"
      responses:
        200:
          description: "Authentication info."
          schema:
            $ref: "#/definitions/authInfoResponse"
      x-security:
      - google_id_token:
          audiences:
          # Your OAuth2 client's Client ID must be added here. You can add
          # multiple client IDs to accept tokens from multiple clients.
          - ""          
definitions:
  Greeting:
    type: object
    properties:
      content:
        type: string
      id:
        type: integer
        format: int64
